@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height: 100%;
}
.center{
    max-width: 1200px;
    padding: 0 2%;
    margin: 0 auto;
}
.clear{clear: both;}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background: rgb(212, 212, 212);
    padding: 10px 2% 40px 2%;
}
.logo1{
    float: left;
    width: 150px;
    height: 60px;
    background-image: url(../img/logo1.png);
    background-size:100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.logo2{
    float: right;
    width: 150px;
    height: 60px;
    background-image: url(../img/logo2.png);
    background-size:100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
section.cover-form{
    width: 100%;
}
.bg{
    position: relative;
    background-image: url(../img/bg-form.jpg);
    background-size: cover;
    height: 560px;
    background-position: center;
}
.form-container{
    position: absolute;
    right: 30px;
    top: -2.5%;
    width: 400px;
    height: 105%;
    background-color: white;
    box-shadow: 1px 2px 10px 1px rgb(180, 180, 180);
}
.form-container h2{
    font-weight: normal;
    padding: 25px 15px;
    color: black;
    font-size: 18px;
    background-color: rgb(210,210,210);
}
.form-wrapper:not(:first-child){
    margin-top: 40px;
}
.form-wraper:last-child{
	margin-top:20px;
}
.form-container form{
    margin-top: 20px;
    padding: 15px;
}
.form-container p{
    font-size: 14px;
    color: #525252;
}
.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    outline: 0;
    line-height: 45px;
    padding-left: 10px;
}
.form-container form input[type=submit]{
    background-color: #033C50;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    cursor: pointer;
    height: 60px;
    border-radius: 0;
    width: 100%;
}
.form-container form input[type=submit]:hover{
    background-color: rgb(2, 43, 58) ;
}
section.chamada{
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
}
section.chamada .container{
    background-color: rgb(209, 178, 155);
    padding: 70px 0 50px 0;
}
section.chamada h2{
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: rgb(39, 39, 39);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
}
section.chamada p{
    width: 98%;
	max-width: 700px;
	display: inline-block;
	margin-top:10px;
	font-size: 18px;
	font-weight: normal;
    color: rgb(59, 59, 59);
}
div.flex-mosaico{
    display: flex;

}
div.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
}
div.item-2-mosaico{
    background-color: rgb(59, 137, 165);
    padding: 60px 40px;
    width: 40%;
}
footer{
    text-align: center;
    padding: 20px 0;
}
footer img{
    width: 120px;
}
footer p{
    margin-top: 8px;
    color: rgb(134, 134, 134);
}
@media screen and (max-width: 768px){
    div.flex-mosaico{
        display: block;
    }
    div.item-1-mosaico{
        padding-top: 80%;
        width: 100%;
    }
    div.item-2-mosaico{
        width: 100%;
    }
}
@media screen and (max-width: 960px){

	.bg{
		height: auto;
		padding: 40px 0;
		text-align: center;
	}

	.form-container{
		height: auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}
}


@media screen and (max-width: 510px){
    header{
        text-align: center;
        color: white;
    }
    [class^="logo"]{
        display: inline-block;
        float: none;
    }
}